html {
  font-family: "Fredoka One", sans-serif;
  border-top-style: solid;
  border-bottom-style: solid;
  border-color: #b3fbff;
  border-width: 8px;

  background-image: repeating-linear-gradient(45deg, #c9fcff, #d4fdff);
}

.text {
  max-width: 19em;
  transform-origin: left center;
}

h1 {
  color: #990073;
  transform: rotate(-10deg) translateY(1em);
}

p {
  color: #c09;
  transform: rotate(-5deg) translateY(2em) translateX(1em);
}

a {
  color: #c09;
  transform: translateY(2em) translateX(1em);
}

.btn {
  display: inline-block;
  border-color: #990073;
}
